[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
pandas = "*"
dbrequests = {editable = true,extras = ["mysql"],path = "."}
docker = "*"
sqlalchemy = "*"
pytest = "*"
pylint = "*"

[dev-packages]
pytest = "*"
docker = "*"
python-language-server = "*"
pylint = "*"
ipython = "*"
pyls-isort = "*"
pyls-mypy = "*"
flake8 = "*"
autoflake = "*"
importmagic = "*"
epc = "*"
