[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dbrequests = {editable = true,extras = ["mysql"],path = "."}
sqlalchemy = "*"

[dev-packages]
black = "*"
darker = "*"
docker = "*"
wemake-python-styleguide = "*"
ipython = "*"
mypy = "*"
mysqlclient = "*"
pymysql = "*"
pytest = "*"
importlib-resources = "*"
isort = "*"
rope = "*"

[pipenv]
allow_prereleases = true
