[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dbrequests = {editable = true,extras = ["mysql"],path = "."}
sqlalchemy = "*"

[dev-packages]
autopep8 = "*"
datatable = "<0.11.0"
docker = "*"
flake8 = "*"
ipython = "*"
mypy = "*"
mysqlclient = "*"
pymysql = "*"
pytest = "*"
pylint = "*"
importlib-resources = "*"

[pipenv]
allow_prereleases = true
